
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(196, 131, 141);
}

.card {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 80px;
    border-radius: 15px;
    color: black;
}

input {
    padding: 15px;
    border-radius: 10px;
    font-size: 15px;
}

p {
    font-size: 15px;
    font-weight: bold;
}

button {
    background-color: rgb(196, 131, 141);
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    color:white;
    font-size: 15px;
   
}

button:hover {
    background-color: rgba(189, 20, 110, 0.63);
}